<div id="datatables_div_{{ alias }}" class="nt_datatables_div">
    {{ datatable_filters(datatable, alias) }}
    {% include 'NetTeamDataTableBundle::header.html.twig' with { 'datatable' : datatable} %}
</div>
