<div id="datatables_div_{{ alias }}" class="nt_datatables_div">
    {% if datatable.hasFilters() %}
        {% include datatable.getFilterTemplate() with { 'filters' : datatable.getFilters() } %}
    {% endif %}
    {% include 'NetTeamDataTableBundle::header.html.twig' with { 'datatable' : datatable} %}
</div>