<form id="form-filter-{{ alias }}" class="filters">
    {% for filter in filters %}
        <div class="filter-element">
            {{ datatable_filter(filter) }}
        </div>
        <div class="float-remover"></div>
    {% endfor %}
    {{ datatable_filter_button({ 'class' : 'datatable_filter_button' }) }}
    {{ datatable_filter_reset_button({ 'class' : 'datatable_filter_reset_button' }) }}
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('.filter-reset-button').click(function() {
            this.form.reset();
            $('.filter-apply-button').click();
        });
    });
</script>